aws_profile     = "neilbyun"
cluster_name    = "agd"
cluster_region  = "ap-northeast-2"
environment     = "dev"

vpc_cidr_block      = "10.0.0.0/16"
vpc_azs             = ["ap-northeast-2a", "ap-northeast-2b"]
vpc_private_subnets = ["10.0.1.0/24", "10.0.2.0/24"]
vpc_public_subnets  = ["10.0.101.0/24", "10.0.102.0/24"]